.display_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .display_card {
    background: coral;
    height: 40vh;
    position: relative;

    &:nth-of-type(2) {
      background: yellow;
    }
    
    &:nth-of-type(3) {
      background: skyblue;
    }

    .overlay {
      background: black;
      position: absolute;
      inset: 0;
      z-index: 3;
    }
    .img_wrapper {
      position: relative;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }
}