.hero_section {
  background: white;
  height: 60vh;

  .hero_top {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    .overlay {
      background: black;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .hero_title {
      // color: rgb(80, 255, 159);
      color: orange;
      z-index: 2;
      margin: 0 10%;

      .line_wrap {
        line-height: 70px;
        overflow: hidden;

        .line {
          font-size: 65px;
        }
      }
    }
  }

}